<template>
    <div
            id="app"
            :class="{ 'has-mouse': true }"
            @touchstart="hasMouse = false"
    >
        <Ribbon
                text="Fork me on GitHub"
                url="https://github.com/ts1/flipbook-vue"
        />
        <Catalog :files="files" :filesLarge="filesLarge"/>
        <Flickity/>
        <p class="credit">
            Photos from
            <a href="https://unsplash.com/" target="_blank">Unsplash</a>.
        </p>
    </div>
</template>

<script lang="coffee">
    import 'vue-material-design-icons/styles.css'
    import Ribbon from 'vue-ribbon'
    import LeftIcon from 'vue-material-design-icons/ChevronLeftCircle'
    import RightIcon from 'vue-material-design-icons/ChevronRightCircle'
    import PlusIcon from 'vue-material-design-icons/PlusCircle'
    import MinusIcon from 'vue-material-design-icons/MinusCircle'
    import Catalog from './Catalog'
    import Flickity from './MyComponent'

    export default
        name: 'app'
        components: {Catalog, Flickity, LeftIcon, RightIcon, PlusIcon, MinusIcon, Ribbon}
        data: ->
            files: [
                null
                'images/1.jpg'
                'images/2.jpg'
                'images/3.jpg'
                'images/4.jpg'
                'images/5.jpg'
                'images/6.jpg'
            ],
            filesLarge: [
                null
                'images-large/1.jpg'
                'images-large/2.jpg'
                'images-large/3.jpg'
                'images-large/4.jpg'
                'images-large/5.jpg'
                'images-large/6.jpg'
            ],
</script>

<style>
    html, body {
        margin: 0;
        padding: 0;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        color: #ccc;
        overflow: hidden;
    }

    a {
        color: inherit;
    }

    .action-bar {
        width: 100%;
        height: 30px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action-bar .btn {
        font-size: 30px;
        color: #999;
    }

    .action-bar .btn svg {
        bottom: 0;
    }

    .action-bar .btn:not(:first-child) {
        margin-left: 10px;
    }

    .has-mouse .action-bar .btn:hover {
        color: #ccc;
        filter: drop-shadow(1px 1px 5px #000);
        cursor: pointer;
    }

    .action-bar .btn:active {
        filter: none !important;
    }

    .action-bar .btn.disabled {
        color: #666;
        pointer-events: none;
    }

    .action-bar .page-num {
        font-size: 12px;
        margin-left: 10px;
    }

    .flipbook .viewport {
        width: 90vw;
        height: calc(100vh - 50px - 40px - 250px);
    }

    .flipbook .bounding-box {
        box-shadow: 0 0 20px #000;
    }

    .credit {
        font-size: 12px;
        line-height: 20px;
        margin: 10px;
    }
</style>
