<style>
    .thumbnail {
        width: 1200px;
        height: 250px;
        padding-top: 50px;
        justify-content: center;
    }

    .carousel-cell {
        width: 276px;
        height: 84px;
        border-right: 1px solid #7B878A;
    }

    .carousel-cell:last-child {
        border:none;
    }

    .carousel-cell.size-180 {
        width: 180px;
    }

    .carousel-cell.size-large {
        width: 75%;
    }

    .thumb-item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .thumb-item .image {
        position: relative;
        display: flex;
        width: 115px;
    }

    .thumb-item .image img {
        width:  100%;
        object-fit: cover;
        border-radius: 6px;
        height: 84px;
    }

    .thumb-item .title {
        position: relative;
        width: 100px;
        text-align: left;
    }

    .thumb-item .title h3 {
        font-size: 16px;
        margin: 0;
        margin-top: 2px;
        margin-bottom: 5px;
        font-weight: bold;
        padding-left: 15px;
    }

    .thumb-item .title small {
        font-size: 14px;
        padding-left: 15px;
        color: #888;
    }

</style>

<template>
    <div class="thumbnail">
        <flickity class="flickity" ref="flickity" :options="flickityOptions">
            <div class="carousel-cell thumb-item">
                <div class="col image">
                    <img src="https://placeimg.com/300/200/any?2">
                </div>
                <div class="col title">
                    <h3>
                        Enerji Çözümleri
                    </h3>
                    <small>2022</small>
                </div>
            </div>


            <div class="carousel-cell thumb-item">
                <div class="col image">
                    <img src="https://placeimg.com/300/200/any?2">
                </div>
                <div class="col title">
                    <h3>
                        Mapilio Dergi
                    </h3>
                    <small>2022</small>
                </div>
            </div>


            <div class="carousel-cell thumb-item">
                <div class="col image">
                    <img src="https://placeimg.com/300/200/any?2">
                </div>
                <div class="col title">
                    <h3>
                        Mapilio Dergi
                    </h3>
                    <small>2022</small>
                </div>
            </div>


            <div class="carousel-cell thumb-item">
                <div class="col image">
                    <img src="https://placeimg.com/300/200/any?2">
                </div>
                <div class="col title">
                    <h3>
                        Mapilio Dergi
                    </h3>
                    <small>2022</small>
                </div>
            </div>



        </flickity>
    </div>
</template>
<style>

</style>
<script>
    import Flickity from 'vue-flickity'

    export default {
        components: {
            Flickity
        },
        data() {
            return {
                flickityOptions: {
                    cellAlign: 'left',
                    prevNextButtons: false,
                    pageDots: false
                }
            }
        }
    }
</script>